.icon {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    border: goldenrod ridge 3px;
}

img {
    margin: .5em
}
#main:hover > .summary {
    display: none;
}

#main > .detail {
    display: none;
}

#main:hover > .detail {
    display: block;
}

.summary {
    padding-left: 2em;
}

.detail {
    background: grey;
    padding: .5em;
    padding-left: 2em;
}

.image {
    height: 10em;
    border-radius: 5%;
    border: goldenrod ridge 5px;
}