<h3>
    <img class="icon" src="{{building.icon}}"> {{label}}
</h3>
<dl>
    <dt>{{economy}}</dt>
    <dd>{{building.economy}}</dd>
    <dt>{{loyalty}}</dt>
    <dd>{{building.loyalty}}</dd>
    <dt>{{stability}}</dt>
    <dd>{{building.stability}}</dd>
    <dt>{{defence}}</dt>
    <dd>{{building.defence}}</dd>
    <dt>{{value}}</dt>
    <dd>{{building.value}}</dd>
    <dt>{{price}}</dt>
    <dd>{{building.price}}</dd>
</dl>
<h4>{{magicObjects}}</h4>
<dl>
    <dt>{{minor}}</dt>
    <dd>{{building.minorMagicObject}}</dd>
    <dt>{{medium}}</dt>
    <dd>{{building.mediumMagicObject}}</dd>
    <dt>{{major}}</dt>
    <dd>{{building.majorMagicObject}}</dd>
</dl>