:host {
    h3 {
        margin: 0;
    }
    dl {
        margin: auto;
        display: grid;
        grid-gap: .5em;
        grid-template-columns: repeat(6, 1fr);
        dt {
            padding-right: 1em;
            &::after {
                content: ':';
            }
        }
    }
}