.main {
  margin: 1em;
  width: 8em;
  height: 8em;
}

.large {
  width: 8em;
  height: 8em;
}

.horizontal {
  width: 8em;
  height: 4em;
}

.vertical {
  width: 4em;
  height: 8em;
}

.vertical > img {
  transform: rotate(90deg);
  transform-origin: 25% 50%;
  width: 8em;
  height: 4em
}

.normal {
  width: 4em;
  height: 4em;
}

.tooltip-container {
  position: relative;
}

.tooltip-container .detail {
  text-align: initial;
  visibility: hidden;
  height: max-content;
  width: 30em;
  background-color: white;
  padding: .5em;
  position: absolute;
  z-index: 100;
  border: black solid 1px;
}

.wide {
  width: 50em !important;
}

.tooltip-container:hover .detail {
  visibility: visible;
}