td, tr {
    border-width: 0;
    text-align: center;
}

.water {
    background: lightblue
}

.grass {
    background: lightgreen
}

.vertical-text {
    transform: rotate(90deg);
}

.north, .south {
    height: 4em
}

.east, .west {
    width: 4em
}

.north.district, .south.district {
    height: 0em
}

.east.district, .west.district {
    width: 0em
}

.buildings {
    position: relative;
    background-color: lightgrey;
}

.watermark {
    position: absolute;
    top: 5.25em;
    left: 8em;
    opacity: 0.9;
    z-index: 50;
    color: #202020;
}

.buildings .block {
    width: 8em;
    height: 8em;
    display: inline-block;
}

.buildings .block.streetBottom {
    margin-bottom: 2em;
}

.buildings .block.streetRight {
    margin-right: 2em;
}

.buildings>div {
    border-style: solid;
    border-width: .5em;
    padding: 2em;
    border-color: transparent;
}

.buildings>div.wall {
    border-color: #202020;
}

.buildings>div.waterWest {
    border-left-color: lightblue;
    padding-left: 0;
}

.buildings>div.waterNorth {
    border-top-color: lightblue;
    padding-top: 0;
}

.buildings>div.waterEast {
    border-right-color: lightblue;
    padding-right: 0;
}

.buildings>div.waterSouth {
    border-bottom-color: lightblue;
    padding-bottom: 0;
}